# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

mp_OneOpen
mp_OneOpen_ModalGating
mp_Nopen
tWalk
tWalkOneOpen
tWalkOneOpen_ModalGating
gillespie
closedDist
openDist

# Output
*.txt
*.ps
*.pdf
*.eps
results/
